/.cache/
/.gitkraken/
/.gnupg/
/.local/
/.icons/
/.mozilla/
/.npm/
/.pki/
/.screenlayout/
/.ssh/
/.stack/
/.thumbnails/
/.vscode-oss/
/Downloads/
/Pictures/
/go/
/programming/
/projects/
/smartgit/
/snap/
/themes/
/.vim/
/.config/Code - OSS/
/.config/GitKraken/
/.config/vlc/
/.config/smartgit/
/.config/gtk-3.0/
/.config/gtk-2.0/
/.config/fontconfig/
/.config/font-manager/
/polybar-themes/
/yay/
/snapd/
/.oh-my-zsh/
*.json
/.config/dconf/user
/.zsh_history
/id_ed25519
/id_ed25519.pub
